<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>スレッド一覧</title>
</head>
<body>
	<div class="container">
	<br>
	<input type="text" placeholder="スレッド名">
	<input type="submit">スレッドを作る
		<table class="table">
			<tbody>
				<tr th：eath>
					<th scope="row">スレッド名</th>
					<td>スレ主名</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>